* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100vh;
}
.modalOpen {
  opacity: 0.4;
}
